body {
    background-image: url("https://img.freepik.com/free-photo/sales-with-paper-bags-concept-orange-background-copy-space_23-2148305926.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}